$primary-color: #65C36E;
$secondary-color: #764657;
$tertiary-color: #327638;


// Navbar
.navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;
}

.navbarItems {
    float: left;
}

.navbarItems a {
    display: block;
    color: $secondary-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarItems a:hover {
    background-color: $tertiary-color;
}

// Home

.homeNavbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

// Exercises
.stopwatch { 
    padding-top:0px; 
    padding-left:15px; 
}

