$primary-color: #65C36E;
$secondary-color: #764657;
$tertiary-color: #327638;
$font-stack: 'Philosopher', sans-serif;

h1, h2, h3, h4, h5, p {
    font-family: $font-stack;
    text-align: center;
    
}

.headingDiv {
    margin: 0;
    background-color: $secondary-color;
    height: 100px;
    color: white;
}

body {
    background-color: lightgray;
}

.headerStuff {
    padding: 2%;
}

//Login page


.initialHeader {
    text-align: center;
    color: white;
    font-size: 3em;
    height: 350px;
    margin-top: 0;
    padding: 30px;
    width: 100%;
    background-color: $secondary-color;
}

.h3 {
    font-size: 30px;
    
}

.googleLogin {
    margin-left: 40%;
    margin-top: 2%;
    
}

#google-login {
    height: 55px;
    width: 250px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .2);
}


// Navbar
.navbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $primary-color;
}

.navbarItems {
    float: left;
}

.navbarItems a {
    display: block;
    color: $secondary-color;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbarItems a:hover {
    background-color: $tertiary-color;
}

// Home

.homeNavbarList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    background-color: $primary-color;
}

.homeNavbarItems {
    text-decoration: none;
    font-size: 3em;
    font-family: $font-stack;
    color: $secondary-color;
    padding: 20px;
    text-align: center;
}

.home-list {
    margin-top: 30%;
}

.homeNavbarItems:hover {
    background-color: $tertiary-color;
    font-size: 3.4em;
}

.userImage {
    height: 200px;
    width: 200px;
    border-radius: 30%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .4);
}

.userDeets {
    color: $secondary-color;
}

// Exercises
.stopwatch { 
    padding-top:0px; 
    padding-left:15px; 
}

.video {
    margin-left: 44%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .4); 
    height: 300px;   
    
}

.saveButton {
    height: 60px;
    width: 100px;
    margin-left: 46%;
    background-color: $secondary-color;
    color: white;
    font-size: 1em;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .4); 
    
}

.timer {
    text-align: center;
}

.actualTimer {
    font-size: 2em;
    font-family: $font-stack;
    color: $tertiary-color;
}

.timerButtons {
    font-family: $font-stack;
    color: $secondary-color;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .4);   
    margin-bottom: 1%; 
}

.nextLink {
    color: $primary-color;
    font-size: 2em;
    margin-left: 5%;
    text-decoration: none;
}

.textArea {
    margin-left: 35%;
}

.textButtons {
    display: block;
}

.submitButton {
    height: 60px;
    width: 100px;
    background-color: $secondary-color;
    color: white;
    font-size: 1em;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .4); 
}

.saveNotesButton {
    height: 60px;
    width: 100px;
    margin-left: 41%;
    background-color: $secondary-color;
    color: white;
    font-size: 1em;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .4); 
    
}

.graphLink {
    color: $primary-color;
    font-size: 1.5em;
    margin-left: 85%;
    text-decoration: none;
}

//Graph

.graphStuff {
    width: 70%;
    height: 50px;       
}

.key {
    float: right;
    border: 1px solid darkgray;
    margin-right: 10%;
    margin-top: 10%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .4); 
    
}
