<div class="headingDiv"><h1 class="headerStuff">Exercise 1</h1></div>
<ul class="navbarList">
        <li class="navbarItems"><a ng-href="#!/home1">Home</a></li>
        <li class="navbarItems"><a ng-href="#!/graph">Graph</a></li>
    </ul>

    <video class="video" width="165" controls>
        <source src="trialvid.mp4" type="video/mp4">
      </video>
      <br>
      <br>
      <p>Do ten rotations (palms down to palms up) and time your speed.  Click save if you are satisfied, if not, click reset.  Remember, we are not looking for perfection.  Try not to reset unless extenuating circumstances.</p>
      <br>
      <br>
      <hr>
      <div class="timer">
    <label class="actualTimer">Timer: {{timerWithTimeout | hhmmss}}</label>
    <br>
    <button class="timerButtons" ng-click="startTimerWithTimeout()">Start Timer</button>
    <button class="timerButtons" ng-click="stopTimerWithTimeout()">Stop Timer</button>    
    <button class="timerButtons" ng-click="resetTimerWithTimeout()">Reset Timer</button>
    </div>
    <br>
    <button class="saveButton" ng-click="submitTime()">Save</button>
    <a class="nextLink" ng-href="#!/exercise2/{{task.id}}">Next</a>