<h1>Exercise 3</h1>
<ul class="navbarList">
        <li class="navbarItems"><a ng-href="#!/home1">Home</a></li>
        <li class="navbarItems"><a ng-href="#!/graph">Graph</a></li>
    </ul>
    <!-- Put video or picture here -->
    <label>Timer: {{timerWithTimeout | hhmmss}}</label>
    <button ng-click="startTimerWithTimeout()">Start Timer</button>
    <button ng-click="stopTimerWithTimeout()">Stop Timer</button>    
    <button ng-click="resetTimerWithTimeout()">Reset Timer</button>
    <button ng-click="submitTime3()">Save</button>