<ul class="homeNavbarList">
        <li class="home-list"><a class="homeNavbarItems" ng-href="#!/exercises" href="#">Exercises</a></li>
        <li class="home-list"><a class="homeNavbarItems"ng-href="#!/graph">Graph</a></li>
        <li class="home-list"><a class="homeNavbarItems"ng-click="logout()" ng-href="#/">Logout</a></li>            
    </ul>
    <center class="userDeets" ng-repeat="item in userDeets">
            <div id="userPic"><img class="userImage" ng-src={{item.userPhoto}}></div>
    
            <h1>Hello, {{item.userName}}:</h1>
            <h2>Welcome to Clinitrial</h2>
            <p>Drug Name:</p>
            <p>Trial Length:</p>
            <p>Possible Side Effects:</p>
            <p>Dates Available:</p>
        </center>

        
        
        