<ul class="homeNavbarList">
        <li class="homeNavbarItems"><a ng-href="#!/exercises" href="#">Exercises</a></li>
        <li class="homeNavbarItems"><a ng-href="#!/graph">Graph</a></li>
        <li class="homeNavbarItems"><a ng-href="#!/pdf">Download PDF</a></li>  
        <li class="homeNavbarItems"><a ng-click="logout()" ng-href="#/">Logout</a></li>            
    </ul>
    <center ng-repeat="item in userDeets">
            <div id="userPic"><img class="userImage" ng-src={{item.userPhoto}}></div>
    
            <h4>Hello, {{item.userName}}!</h4>
            <h1>Welcome to Remote Trials!</h1>
        </center>