<header class="initialHeader">
    <h1>Remote Trial</h1>

    <h3 class="h3">Where patients can participate in clinical trials from the comfort of their own home.</h3>
</header>

<!-- <ul class="navbarList">
        <li class="navbarItems"><a ng-href="#!/home1">Home</a></li>
        <li ng-show="isLoggedIn"class="navbarItems"><a ng-href="#!/exercises">Exercises</a></li>
        <li ng-show="isLoggedIn"class="navbarItems"><a ng-href="#!/graph">Graph</a></li>
        <li ng-show="isLoggedIn"class="navbarItems"><a ng-href="#!/pdf">Download PDF</a></li>    
    </ul> -->
    <div id="initialPage">
    <div class="googleLogin">

        <a ng-href="#!/home1" ng-click="loginGoogle()"><img id="google-login" src="https://camo.githubusercontent.com/da18dfde046310c33010757e0b1d2a1f6c95b5d7/68747470733a2f2f646576656c6f706572732e676f6f676c652e636f6d2f6163636f756e74732f696d616765732f7369676e2d696e2d776974682d676f6f676c652e706e67"></a>
    </div>
    </div>